  <%= link_to new_wine100_session_path, :class => 'btn btn-lg btn-outline' do  %>
  <span>1. <%= t('complete_registration') %></span>
  <% end %>
  <span class="glyphicon glyphicon-arrow-right"></span>
  <%= link_to new_wine100_session_path, :class => 'btn btn-lg btn-outline' do  %>
  <span>2. <%= t('login') %></span>
  <% end %>

  <span class="glyphicon glyphicon-arrow-right"></span>

  <a class="btn btn-lg btn-outline">
    3. <%= t('complete_company_information') %>
  </a>

  <span class="glyphicon glyphicon-arrow-right"></span>
  <%= link_to  new_wine100_wine_path(), :class => 'btn btn-lg btn-outline' do  %>
  4. <%= t('input_the_competing_wine') %>
  <% end %>

  <span class="glyphicon glyphicon-arrow-right"></span>

  <a class="btn btn-lg btn-outline">
    4. <%= t('check_the_information') %>
  </a>

  <span class="glyphicon glyphicon-arrow-right"></span>
  <a class="btn btn-lg btn-outline">
    5. <%= t('complete_entry') %>
  </a>