<div class="row-fluid">
	<%= render 'sidebar' %>
	<div class="span9">
		<h2>注册 － 完整联系信息（*为必填)</h2>

		<%= form_for @profile, :url => wine100_profiles_path, :class => 'form-signin' do |f| %>

		<%= render 'wine100/profiles/form_contact', :f => f %>
		
		<%= render 'wine100/profiles/form_company', :f => f %>

		<%= render 'wine100/profiles/form_finance', :f => f %>
	
		<button class="btn btn-large btn-primary" type="submit">完成注册信息 》</button>
		<% end %>

	</div><!--/span-->
</div>