
<h3>财务信息</h3>
<div class="controls">
 <%= f.text_field :finance_title, :placeholder => '发票抬头', :class => 'block box' %>
</div>
<div class="controls">
 <%= f.text_field :finance_tax_num, :placeholder => '税务登记号', :class => 'block box' %>
</div>

<div class="controls">
 <%= f.text_field :finance_add, :placeholder => '发票邮寄地址' %>
</div>

<div class="controls">
 <%= f.text_field :finance_name, :placeholder => '财务联系人' %>
</div>
<div class="controls">
 <%= f.text_field :finance_phone, :placeholder => '联系人电话' %>
</div>
