<div class="page-header">
  <h2>公司信息</h2>
</div>

<div class="control-group">
  <div class="controls">
    <%= f.text_field :company_name_zh, :placeholder => '公司名称', :class => 'span6', :required => true %>
		<span class="red">*</span>
  </div>
  <!--
  <div class="controls">
    <%= f.text_field :company_name_en, :placeholder => '名称( 英文 )', :class => 'span6', :required => true %>
		<span class="red">*</span>
  </div>
  -->
</div>

<div class="control-group">
  <div class="controls">
    <%= f.text_field :company_add, :placeholder => '公司地址', :class => 'span6', :required => true %>
		<span class="red">*</span>
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <%= f.text_field :company_phone, :placeholder => '公司电话', :class => 'span6', :required => true %>
		<span class="red">*</span>
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <%= f.text_field :company_website, :placeholder => '公司网址', :class => 'span6', :required => true %>
		<span class="red">*</span>
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <%= f.text_field :company_wines_count, :placeholder => '可销售葡萄酒款数', :class => 'span6' %>
		<span class="red">*</span>
  </div>		
</div>
