<div class="page-header">

<h2><%= t('invoice_information') %></h2>
</div>
<div class="control-group">
<%= f.label :finance_title, "#{t('invoice_title')}:" %>
  <div class="controls">
    <%= f.text_field :finance_title, :placeholder => t('invoice_title'), :class => ' span6' %>
		<span class="red">*</span>
  </div>
</div>

<% if(I18n.locale == :'zh-CN') %>
  <div class="control-group">
  <%= f.label :finance_tax_num, "#{t('tax_num')}:" %>
  <div class="controls">
    <%= f.text_field :finance_tax_num, :placeholder => t('tax_num'), :class => ' span6' %>
    <span class="red">*</span>
  </div>
</div>
<% end %>

<div class="control-group">
<%= f.label :finance_add, "#{t('mailing_address')}:" %>
  <div class="controls">
    <%= f.text_field :finance_add, :placeholder => t('mailing_address'), :class => ' span6' %>
		<span class="red">*</span>
  </div>
</div>

<div class="control-group">
<%= f.label :finance_name, "#{t('main_contacts')}:" %>
  <div class="controls">
    <%= f.text_field :finance_name, :placeholder => t('main_contacts'), :class => ' span6' %>
		<span class="red">*</span>
  </div>
</div>

<div class="control-group">
<%= f.label :finance_phone, "#{t('telephone')}:" %>
  <div class="controls">
    <%= f.text_field :finance_phone, :placeholder => t('telephone'), :class => 'span6' %>
		<span class="red">*</span>
  </div>
</div>
