<div class="page-header">
  <h2>公司信息</h2>
</div>

<div class="control-group">
  <%= f.label :company_name_zh, "#{t('company_name')}:" %>
  <div class="controls">
    <%= f.text_field :company_name_zh, :placeholder => t('company_name'), :class => 'span6', :required => true %>
		<span class="red">*</span>
  </div>
  <!--
  <div class="controls">
    <%= f.text_field :company_name_en, :placeholder => '名称( 英文 )', :class => 'span6', :required => true %>
		<span class="red">*</span>
  </div>
  -->
</div>

<div class="control-group">
  <%= f.label :company_add, "#{t('company_address')}:" %>
  <div class="controls">
    <%= f.text_field :company_add, :placeholder => t('company_address'), :class => 'span6', :required => true %>
		<span class="red">*</span>
  </div>
</div>


<div class="control-group">
  <%= f.label :company_phone, "#{t('phone_number')}:" %>
  <div class="controls">
    <%= f.text_field :company_phone_area_code, :placeholder => '区号', :class => 'span1', :required => false %>
    <%= f.text_field :company_phone, :placeholder => t('phone_number'), :class => 'span6', :required => true %>
		<span class="red">*</span>
  </div>
</div>

<div class="control-group">
  <%= f.label :company_website, "#{t('website')}:" %>
  <div class="controls">
     <span class="add-on">http://</span>
    <%= f.text_field :company_website, :placeholder => t('website'), :class => 'span6', :required => false %>
  </div>
</div>

<div class="control-group">
 <%= f.label :company_wines_count, t('how_many_sku_portfolio') %>
  <div class="controls">
    <%= f.text_field :company_wines_count, :placeholder => t('how_many_sku_sale'), :class => 'span6' %>
  </div>		
</div>
