<ul class="breadcrumb">

	<% if params[:for] == 'company' %>
	<li>
    <a class="btn btn-success btn-primary btn-large" href="#">1. <%= t("company_information") %> </a>
	</li>
	<i class="glyphicon glyphicon-chevron-right"></i>
	<li>
    <a class="btn btn-large" href="#">2. <%= t("contact_information") %></a>
	</li>
	<i class="glyphicon glyphicon-chevron-right"></i>
	<li>
    <a class="btn  btn-large" href="#">3. <%= t("invoice_information") %></a>
	</li>
	<% elsif params[:for] == 'contact' %>
	<li>
		<a class="btn btn-success btn-primary btn-large" href="#">1. <%= t("company_information") %> </a>
	</li>
	<i class="glyphicon glyphicon-chevron-right"></i>
	<li>
		<a class="btn btn-success btn-primary btn-large" href="#">2. <%= t("contact_information") %></a>
	</li>
	<i class="glyphicon glyphicon-chevron-right"></i>
	<li>
		<a class="btn btn-large" href="#">3. <%= t("invoice_information") %></a>
	</li>
	<% else %>
	<li>
		<a class="btn btn-success btn-primary btn-large" href="#">1. <%= t("company_information") %> </a>
	</li>
	<i class="glyphicon glyphicon-chevron-right"></i>
	<li>
		<a class="btn btn-success btn-primary btn-large" href="#">2. <%= t("contact_information") %></a>
	</li>
	<i class="glyphicon glyphicon-chevron-right"></i>
	<li>
		<a class="btn btn-success btn-primary btn-large" href="#">3. <%= t("invoice_information") %></a>
	</li>
	<% end %>
</ul>
