<div class="row-fluid">
	<%= render 'wine100/accounts/sidebar' %>
	<div class="span9">
		
		<%= form_for @profile, :url => wine100_profiles_path(:for => params[:for]), :class => 'form-signin' do |f| %>

	  <% if params[:for] == 'contact'  %>
		<%= render 'form_contact', :f => f %>
		<% end %>
		<% if params[:for] == 'company' %>
		<%= render 'form_company', :f => f %>
		<% end %>
		<% if params[:for] == 'finance' %>
		<%= render 'form_finance', :f => f %>
		<% end %>

		<% if params[:for] == 'contact' %>
			<button class="btn btn-large btn-primary" type="submit">去完成公司信息 》</button>
		<% elsif params[:for] == 'company' %>
			<button class="btn btn-large btn-primary" type="submit">去完成财务信息 》</button>
		<% else %>
			<button class="btn btn-large btn-primary" type="submit">完成注册信息 》</button>
		<% end %>

	
		<% end %>

	</div><!--/span-->
</div>
