 <div class="control-group">
 	<div class="controls">
 		<%= f.email_field :email, :placeholder => t('email'), :class => 'block box span6',  :required => true %>
    * <%= t('enter-your-password') %>
 	</div>
 </div>

<!--  <div class="control-group">
 <div class="controls">
 	<%= f.text_field :phone, :placeholder => '手机号码', :class => 'block box span6',  :required => true %>
 </div>
</div> -->

<div class="control-group">
 <div class="controls">
 	<%= f.password_field :password_cleartext, :placeholder => t('password'), :class => 'block box span6',  :required => true, :min => 8 %>
 </div>
</div>

<div class="control-group">
 <div class="controls">
 	<%= f.password_field :password_confirmation, :placeholder => t('confirm-password'), :class => 'block box span6',  :required => true, :min => 8 %>
 
 </div>
</div>

 <button class="btn btn-large btn-primary" type="submit"><%= t('registrations') %></button>
