<style>
  label {
    display: inline;
  }
  div.controls {
   display: inline;
 }
</style>

<table class="table wine-form-2" cellpadding="0" cellspacing="0">
  <tr class="tr_1">
    <td class="td_1">
      <%= f.label :name_zh, "#{t('chinese_name')}: " %>
    </td>
    <td class="td_2" colspan="3">
      <div class="control-group">
        <div class="controls">
          <%= f.text_field :name_zh, :placeholder => t('chinese_name'),  :class => 'span5', :required => true %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td class="td_1">
      <%= f.label :name_en, "#{t('english_name')}: " %>
    </td>
    <td class="td_2">
      <div class="control-group">
        <div class="controls">
          <%= f.text_field :name_en, :placeholder => t('english_name'), :class => 'span11', :required => true %>
        </div>
      </div>
    </td>
    <td class="td_3">
      <%= f.label :vintage, "#{t('vintage')}: " %>
    </td>
    <td class="td_4">
      <div class="control-group">
        <div class="controls">
          <%= f.text_field :vintage, :placeholder => t('vintage'), :class => 'span2', :required => true %>
        </div>
      </div>
    </td>
  </tr>
</table>

<table class="table wine-form-3">
  <tr class="tr_1">
    <td class="td_1">
      <%= f.label :region_1, "#{t('country')}: " %>
    </td>
    <td class="td_2">
      <div class="control-group">
        <div class="controls">
         <%= f.text_field :region_1, :placeholder => t('country'), :class => 'span12', :required => true %>
       </div>
     </div>
    </td>
   <td class="td_5">
    <%= f.label :region_2, "#{t('region')}: " %>
  </td>
  <td class="td_6">
    <div class="control-group">
      <div class="controls">
       <%= f.text_field :region_2, :placeholder => t('region'), :class => 'span12',:required => true %>
     </div>
   </div>
 </td>
 <td class="td_7">
   <%= f.label :region_3, "#{t('sub_region_0')}: " %>
 </td>
 <td class="td_8">
  <div class="control-group">
    <div class="controls">
     <%= f.text_field :region_3, :placeholder => t('sub_region'), :class => 'span12' %> 
   </div>
 </div>
</td>
</tr>
</table>

<table id="wine-form" class="table wine-form">
  <tr class="tr_1">
    <td class="td_1">
      <%= f.label :style, "#{t('type')}: " %>
    </td>
    <td class="td_2">
      <div class="control-group">
        <div class="controls">
          <%= f.select :style, APP['wines']['styles'].each{|value| [value, value]}, :required => true, :prompt => t('type') %>
        </div>
      </div>
    </td>

    <td class="td_3">
      <%= f.label :alcoholicity, "#{t('alcohol')}: " %>
    </td>
    <td class="td_4">
      <div class="control-group">
        <div class="controls">
          <div class="input-prepend">
           <!-- <span class="add-on"><i class="icon">%</i></span> -->
           <%= f.text_field :alcoholicity, :placeholder => "#{t('alcohol_0')}", :class => 'span12', :required => true %>
           <span style="background: none; border: 0" class="add-on">%Vol</i></span>
         </div>
       </div>
     </div>
   </td>
 </tr>
</table>

<table class="table wine-form-5">
  <tr class="tr_1">
    <td class="td_1" valign="top">
      <%= f.label :varieties, "#{t('grape_variety')}: " %>
    </td>
    <td class="td_2">
      <div class="control-group">

        <div class="controls" >
         <div class="variety_outer" >
          <%= f.fields_for :varieties do |v| %>
          <%= render "variety_fields", :f => v %>
          <% end %>
        </div>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= t('if_more_than') %>
        </div>
        <p><%= link_to_add_fields t('add_the_grape_varieties'), f, :varieties, '.variety_outer' %></p>
        <br>
      </div>
    </div>

  </td>
</tr>
</table>


<table class="table wine-form-4">
  <tr>
    <td class="td_1">
      <%= f.label :market_price, "#{t('retail_price')}: " %>
    </td>
    <td class="td_2">
      <div class="control-group">
        <div class="controls">
          <%= f.text_field :market_price, :placeholder => '', :class => 'span2' %>
          <i class="icon"><%= t('yuan') %></i>
        </div>
      </div>
    </td>
  </tr>
</table>



<div class="controls">

  <table class="image-table" >
   
    <tr>
      <td class="td_1">
        <% if @wine.photo.blank? %>
        <img id="uploadPreview" align="left" class="img-rounded" alt="酒标"  src="/images/demo.png">
        <% else %>
        <%= image_tag @wine.photo_url(:thumb), :size => '140x140', :align=>"left", :id => 'uploadPreview' %>
        <% end %>
        <script type="text/javascript">
          var oFReader = new FileReader();
          oFReader.readAsDataURL(document.getElementById("wine100_wine_photo").files[0]);

          oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
          };

          function PreviewImage() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("wine100_wine_photo").files[0]);

            oFReader.onload = function (oFREvent) {
              document.getElementById("uploadPreview").src = oFREvent.target.result;
            };
          };
        </script>
      </td>
      <td class="td_2">
        <%= f.file_field :photo, :onchange => 'PreviewImage()' %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= t('maximum_images') %>
        </div>
      </td>
    </tr>
  </table>

</div>
<div class="clear" style="clear: both;"></div>
<br>

<div>
----------------------------------------------------------------------<%= t('following_optional') %>--------------------------------------------------------------------------------
</div>
<br> 
<table class="table wine-form-6">
  <tr class="tr_1">
    <td class="td_1"> <%= t('sales_channels') %>: </td>
    <td class="td_2">
     <!-- 
     <div class="controls">
      <%= f.text_field :market_price, :placeholder => '零售价', :class => 'block box' %>
    </div> -->

    <div class="control-group">
     <div class="controls" >
      <div class="sale_chanel_outer" >
        <%= f.fields_for :sale_chanels do |v| %>
        <%= render "sale_chanel_fields", :f => v %>
        <% end %>
      </div>
      <p><%= link_to_add_fields t('add_sales_channels'), f, :sale_chanels, '.sale_chanel_outer' %></p>
    </div>
  </div>
</td>
</tr>
</table>

<table class="table wine-form-7">
  <tr class="t4_1">
    <td class="td_1">
      <%= f.label :winery_zh, "#{t('winery_name_zh')}: " %>
    </td>
    <td class="td_2">
      <div class="controls">
        <%= f.text_field :winery_zh, :placeholder => t("winery_name_zh"), :class => 'span12' %>
      </div>
    </td>

    <td class="td_3">
      <%= f.label :winery_en, "#{t('winery_name_en')}: " %>
    </td>
    <td class="td_4">
      <div class="controls">
        <%= f.text_field :winery_en, :placeholder => t('winery_name_en'), :class => 'span12' %>
      </div>
    </td>
  </tr>
  </table>

  <table class="table wine-form-8">

  <tr class="tr_3">
    <td class="td_1">
      <%= f.label :level, "#{t('aoc')}: " %>
    </td>
    <td class="td_2">
      <div class="control-group">
        <div class="controls">
          <%= f.text_field :level, :placeholder => t('aoc_0'), :class => 'block span4' %>
        </div>
      </div>
    </td>
  </tr>

  <tr class="tr_3"  id="sweetness-outer">
    <td class="td_1">
      <%= f.label :sweetness, "#{t('sweetness')}: " %>
    </td>
    <td class="td_2">
     <div class="controls">
       <%= f.text_field :sweetness, :placeholder => t('sweetness'), :class => 'block box' %>
     </div>
   </td>
 </tr>

 <tr class="tr_4">
  <td class="td_1">
  </td>
  <td class="td_2">
  <!--
   <div class="controls">
     <%= f.check_box :is_oak, :checked => true, :class => 'block box' %>
     是否橡木桶陈酿
   </div>
   -->
 </td>
</tr>

<tr class="tr_5">
  <td class="td_1">
    <%= f.label :prize_history, "#{t('awards')}: " %>
  </td>
  <td class="td_2">
    <div class="controls">
      <%= f.text_area :prize_history, :placeholder => t('awards'), :style => 'width: 500px;', :class => 'block box ', :size => '100x6' %>
    </div>
  </td>
</tr>

</table>
<div class="button-outer">
  <button class="btn btn-lg btn-primary" type="submit"><%= t('confirm') %></button>
  <button type="reset" class="btn btn-lg"><%= t('reset') %></button>
</div>



<!-- <button class="btn btn-large btn-primary" type="submit">下一步</button> -->
