<div class="row-fluid">

	<%= render '/wine100/accounts/sidebar' %>
	<script type="text/javascript">
	$('.lightbox').lightbox();
	</script>
	<div class="span9">
		

		<div class="page-header">
			<h2>
				参赛酒列表
				<% if current_user.wines.present? %>
				<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#comfirm-complete">
				  确认参赛 》

				</button>
				<span class="label label-warning"> 完成参赛酒信息录入后请点击完成录入 </span>
				<% end %>
			</h2>
		</div>

		<div class="modal fade" id="comfirm-complete">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">信息</h4>
		      </div>
		      <div class="modal-body">
		        <p>参赛酒录入完成，以录入的葡萄酒将作为参赛酒提交到WINE100，点击确认后所有信息将不能再做修改。</p>
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
		      	<%= link_to '确定', complete_wine_wine100_wines_path, :class => 'btn btn-primary' %>
		      </div>

		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div class="pull-right">
			<%= link_to "继续录入参赛酒", new_wine100_wine_path, :class => 'btn btn-success' %>
		</div>
		
		<div class="clearfix"></div>

		<% if !@wines.blank? %>
		<table class="table table-condensed winelist">
			<thead>
				<tr>
					<th>图片</th>
					<th>酒信息</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				
				<% @wines.each do |wine| %>
				<tr>
					<td  class="thumbnails" data-toggle="lightbox">
						<a data-toggle="lightbox" href="<%=  wine.photo_url()  %>" class="thumbnail">
							
							<% if wine.photo_url.present? %>
							<%= image_tag wine.photo_url(:thumb) %>
							<% else %>
							<img src="/images/demo.png" alt="">
							<% end %>
						</a>

					</td>
					<td>

					<strong>酒名：</strong><%= wine.name %> <br />
					<strong>葡萄品种-百分比:</strong><br>
					<%= raw wine.varieties_text %> <br />
					<strong>酒类型: </strong><%= wine.style %><br>
					<strong>产区: </strong><%= wine.region %><br>
					</td>
					
					<td>
					
					  <% if !wine.status %>
						<%= link_to '编辑', edit_wine100_wine_path(wine, :step => 1) %>
						&nbsp;
						&nbsp;
						<%= link_to '删除', wine100_wine_path(wine), :method => :delete %>
						&nbsp;
						&nbsp;
						<% end %>

						<% if wine.status %>
						<span class="label label-success">已参赛</span>
						<% else %>
						 <%= link_to '参赛', one_complete_wine100_wine_path(wine), :confirm => '点击确定后， 该酒信息将不能再做修改。' %>
						<% end %>
						</td>
				</tr>
				<% end %>
				
			
			</tbody>
		</table>
		<% else %>
		<p align="center"><%= link_to '上传参赛酒', new_wine100_wine_path, :class => 'btn btn-large btn-primary' %></p>
		<% end %>
	</div><!--/span-->
</div>
