<div class="row-fluid">

	<%= render '/wine100/accounts/sidebar' %>
	<script type="text/javascript">
	$('.lightbox').lightbox();
	</script>
	<div class="span9">

		<div class="alert">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <strong>注意! </strong> 修改点击编辑，取消参赛点击删除.
		</div>

		<div class="page-header">
			<h2>参赛酒列表</h2>
		</div>
		
		<% if !@wines.blank? %>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>酒标</th>
					<th>名字</th>
					<th>参数</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				
				<% @wines.each do |wine| %>
				<tr>
					<td  class="thumbnails" data-toggle="lightbox">
						<a data-toggle="lightbox" href="<%=  wine.photo_url()  %>" class="thumbnail">
							
							<%= image_tag wine.photo_url(:thumb), :size => '100x100' %>
						</a>

					</td>
					<td><%= wine.name %></td>
					<td><%= raw wine.spec %></td>
					<td>
						<%= link_to '编辑', edit_wine100_wine_path(wine, :step => 1) %>
						&nbsp;
						&nbsp;
						<%= link_to '删除', wine100_wine_path(wine), :method => :delete %>
						</td>
				</tr>
				<% end %>
				
			
			</tbody>
		</table>
		<% else %>
		<p align="center"><%= link_to '上传参赛酒', new_wine100_wine_path, :class => 'btn btn-large btn-primary' %></p>
		<% end %>
	</div><!--/span-->
</div>
