<%= link_to "Export All Wines", export_all_wines_path() %>

<% if searching? %>
  <h2><%= t('results_for', :scope => 'refinery.admin.search', :query => params[:search]) %></h2>
<% end %>
<% @wine100_wines = @wine100_wines.online %>
<div class='pagination_container'>
  <% if @wine100_wines.any? %>
    <%= render 'wine100_wines' %>
  <% else %>
    <p>
      <% unless searching? %>
        <strong>
          <%= t('.no_items_yet') %>
        </strong>
      <% else %>
        <%= t('no_results', :scope => 'refinery.admin.search') %>
      <% end %>
    </p>
  <% end %>
</div>
